#itemImage {
	height: 100px;
	width: 50px;
}

.display {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

table {
	border-spacing: 10px;
}

#productName {
	text-align: center;
	font-weight: bold;
}

#productPrice {
	text-align: left;
}

.displayCategory ul li {
	font-size: 40px;
}
#ItemName{
  text-align:left;
}